In [156]:
import pandas as pd
import numpy as np

In [16]:
amazon_data = pd.read_csv('Amazon - Movies and TV Ratings.csv')

In [27]:
amazon_data.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
CountDf = amazon_data.count(axis=0)

In [136]:
CountDf = CountDf.reset_index().drop(0)

In [137]:
CountDf.columns = ['Movie','TimesWatched']

In [138]:
### Finding the most watched movie
CountDf[CountDf['TimesWatched'] == CountDf['TimesWatched'].max()]

        Movie  TimesWatched
127  Movie127          2313

In [139]:
mean_rating = amazon_data.mean(axis=0)

In [141]:
mean_rating = mean_rating.reset_index().drop(0)

In [143]:
mean_rating.columns=['Movie','MeanRating']

In [148]:
mean_rating = mean_rating.sort_values('MeanRating',ascending=False)

In [152]:
### Finding the top 5 movies having most high rating
mean_rating.head()

      Movie  MeanRating
1    Movie2         5.0
65  Movie66         5.0
75  Movie76         5.0
74  Movie75         5.0
73  Movie74         5.0

In [153]:
### Finding the least watched movie
CountDf[CountDf['TimesWatched'] == CountDf['TimesWatched'].min()].head()

    Movie  TimesWatched
1  Movie1             1
2  Movie2             1
3  Movie3             1
6  Movie6             1
7  Movie7             1

In [415]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [366]:
model_data = amazon_data.transpose()

In [367]:
model_data.columns = test.iloc[0]

In [368]:
model_data = model_data[1:]

In [369]:
model_data = model_data.stack(dropna=False)

In [370]:
model_data = model_data.reset_index()

In [371]:
model_data.columns = ['Movie','User_Id','Rating']

In [372]:
sorted_model_data = model_data.sort_values('User_Id')

In [373]:
data = sorted_model_data.dropna(axis=0,how='any')

In [374]:
data['Movie'] = data['Movie'].apply(lambda x:x.replace('Movie',''))

C:\Users\Jayasooryan\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [375]:
users = data['User_Id'].reset_index()

In [376]:
users['index'] = users.index +1

In [377]:
users.columns = ['Id','User_Id']

In [378]:
users.head()

   Id                User_Id
0   1  A0047322388NOTO4N8SKD
1   2  A00473363TJ8YSZ3YAGG9
2   3         A1004AX2J2HXGL
3   4         A100CQXJ6D44T9
4   5         A100Z2S0880G9A

In [379]:
merged_data = pd.merge(data,users,on='User_Id',how='outer')

In [380]:
merged_data

     Movie                User_Id Rating    Id
0      140  A0047322388NOTO4N8SKD      5     1
1      127  A00473363TJ8YSZ3YAGG9      4     2
2      127         A1004AX2J2HXGL      1     3
3       29         A100CQXJ6D44T9      5     4
4       16         A100Z2S0880G9A      5     5
...    ...                    ...    ...   ...
5405   127          AZT7WWYF4YVJA      5  4996
5406   121          AZVER2EPLYDZ9      5  4997
5407   111          AZY4RYP9948K9      5  4998
5408   127          AZYJ9TS07B02W      3  4999
5409   127          AZZ1KF8RAO1BR      2  5000

[5410 rows x 4 columns]

In [406]:
x = merged_data[['Movie','Id']]
y = merged_data['Rating']
y=y.astype('float')

In [407]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [409]:
PredictionModel = LogisticRegression()

In [410]:
PredictionModel.fit(x_train,y_train)

C:\Users\Jayasooryan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [411]:
predicted_y = PredictionModel.predict(x_test)

In [412]:
predicted_y

array([5., 5., 5., ..., 5., 5., 5.])

In [413]:
y_test

290     5.0
1730    5.0
4235    3.0
4870    1.0
1073    5.0
       ...
75      1.0
1831    5.0
2973    3.0
3984    5.0
3214    5.0
Name: Rating, Length: 1082, dtype: float64

In [417]:
accuracy = accuracy_score(y_test,predicted_y)

In [420]:
print('Accuracy of the model : ',accuracy * 100,'%')

Accuracy of the model :  71.90388170055454 %